body{
  font-family: Crimson, Crimson Roman, Gentium, EB Garamond, Linux Libertine, Linux Libertine O, EB Garamond, sans-serif;
}

h1, h2, h3, h4, h5, h6,
.h1,.h2,.h3,.h4,.h5,.h6{
  font-family: 'Playfair Display', Playfair Display, Linux Libertine, Linux Libertine O, Noto Serif, sans-serif;
  
  -moz-font-feature-settings: "dlig" 1, "hlig" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "sups" 0, "subs" 0, "sinf" 0, "ordn" 0, "zero" 1, "frac" 1, "c2sc" 0, "smcp" 1, "c2pc" 0, "pcap" 0, "case" 0, "cpsp" 0, "swsh" 1, "cswh" 1, "hist" 1, "titl" 1;
  -ms-font-feature-settings: "dlig" 1, "hlig" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "sups" 0, "subs" 0, "sinf" 0, "ordn" 0, "zero" 1, "frac" 1, "c2sc" 0, "smcp" 1, "c2pc" 0, "pcap" 0, "case" 0, "cpsp" 0, "swsh" 1, "cswh" 1, "hist" 1, "titl" 1;
  -o-font-feature-settings: "dlig" 1, "hlig" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "sups" 0, "subs" 0, "sinf" 0, "ordn" 0, "zero" 1, "frac" 1, "c2sc" 0, "smcp" 1, "c2pc" 0, "pcap" 0, "case" 0, "cpsp" 0, "swsh" 1, "cswh" 1, "hist" 1, "titl" 1;
  -webkit-font-feature-settings: "dlig" 1, "hlig" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "sups" 0, "subs" 0, "sinf" 0, "ordn" 0, "zero" 1, "frac" 1, "c2sc" 0, "smcp" 1, "c2pc" 0, "pcap" 0, "case" 0, "cpsp" 0, "swsh" 1, "cswh" 1, "hist" 1, "titl" 1;
  font-feature-settings: "dlig" 1, "hlig" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "sups" 0, "subs" 0, "sinf" 0, "ordn" 0, "zero" 1, "frac" 1, "c2sc" 0, "smcp" 1, "c2pc" 0, "pcap" 0, "case" 0, "cpsp" 0, "swsh" 1, "cswh" 1, "hist" 1, "titl" 1;

  color: #444;
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: 700;
}

h1, h2{
  text-shadow: 2px 2px 0 #ccc;
}

blockquote p{
  border-left: 4px solid moccasin;
}

code, pre{
  background-color: moccasin;
}

.siteheader__sitesubtitle{
  font-weight: 200;
  text-transform: lowercase;
  font-size: 1.7em;
}


.menu{
  margin-top: 1em;
  margin-bottom: 20px;
}

.menu__item a{
  font-family: Playfair Display;
  border-top: 2px dotted #ddd;
  border-bottom: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .03em;
  width: 100%;

}
.menu__item a:hover, .menu__item--active a{
  background-color: #f5f5f5;
}

.menu__list:last-child{
  border-bottom: 2px dotted #ddd;
}

/*.social*/ a[href*='github.com'],
    /*a[href*='github.io'],*/
    a[href*='git.io'] {background-repeat: no-repeat;background-position: 0em 0em;padding-left: 25px;background-image: url('../images/icons/github.png');}

.grayscale{
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.grayscale img{

  filter: gray;

  -moz-filter: sepia(70%);
  -ms-filter: sepia(70%);
  -o-filter: sepia(70%); 
  -webkit-filter: sepia(.7);
  -webkit-filter: sepia(70%); 
  filter: sepia(70%);

  /*filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg'><filter id='sepiatone'><feColorMatrix values='0.14 0.45 0.05 0 0 0.12 0.39 0.04 0 0 0.08 0.28 0.03 0 0 0 0 0 1 0' /></filter></svg>#sepiatone");
   */

  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */

  margin: 0 auto;
  width:90%;

  border: 4px double #aaa;
  border-radius: 3%;
}

.coverimage{
  padding-bottom: 20px;
  width: 100%;
}

.coverimage img{
  display: block;
  width: 220px;
  height: 220px;
  margin-right: 10px;

  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: sepia(80%);

  border-radius: 50%;

  border: 4px double #aaa;
  margin: 0 auto;
}
.content__post-list, .content__post-list li{
  list-style-type:none;
  clear:both;
}

.content__post-list li{
  border-bottom: 1px solid moccasin;
  margin-bottom: 40px;
  clear:both;
}

.content__post{
  text-align: center;
}



.content__post-info{
  font-style: italic;
  margin-bottom: .5em;
  color:#999;
}

.footer__attribution{
  font-style: italic;
  font-weight: 400;
}




@media all and (min-width: 800px) and (min-device-width : 480px){

  html{
    font-size: 125%;
  }

  body{
    font-size:24px;
  }

  .siteheader{
    display: block;
    text-align: center;
    padding-bottom: 1em;
    border-bottom: 1px dotted #eee;
    margin-bottom: 1em;

  }
  
  .siteheader__sitename,
  .siteheader__sitesubtitle{
    position:relative;
    top:7px;
  }

  .siteheader__logo{
    width: 70%;
    height: 70%;
    padding-top: 35px;
    margin-top: 2em;
  }

  .menu{
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
    display: block;
    width: 100%;
    position: fixed;
    top:-24px;
    text-align: center;
    height:50px;
    line-height: 2em;
    border-bottom: 2px dotted #ddd;
    z-index: 1;
    background-color: #fdfdfd;

  }

  .menu__list:last-child{
    border-bottom: none;
  }

  .menu__item{
    display: inline-block;

    background-color: #fff;
    border-top: 0;
  }

  .menu__item:first-child{
    margin-left: 0;
  }

  .menu__item a{
    background-color: #fdfdfd;
    padding:0 20px;
  
    margin: 0px;
    border-top: 0;
  }

  .grayscale img{
    width: 60%;
    border-radius: 1%;
  }

  .coverimage{
    float:left;
    margin-right: 40px;
    width: auto;
    display: block;
  }

  .coverimage img{
    border-radius: 10px;
  }

  .content__post{
    text-align: left;
  }
}