<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css">

    <!-- THEME 1 -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Alegreya:400,400italic,700,700italic|Alegreya+SC:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/theme1.css">
 -->

    
    <!-- THEME 2-->
    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Linux+Libertine:400,400i,600,600i,700,700i">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/theme2.css">

    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}
    {% endblock head %}
</head>

<body>
  <header class="siteheader">
      {% if SITELOGO %}
        <a href="{{ SITEURL }}/" class="anchor--unstyled">
          <img class="siteheader__logo" src="{{ SITELOGO }}">
        </a>
      {% else %}
      <h1 class="siteheader__sitename">
        <a href="{{ SITEURL }}/">
          {{ SITENAME }} 
        </a>
      </h1>
      {% endif %}
  </header><!-- /.banner -->
  <nav class="menu">
    <ul class="menu__list">
      {% for title, link in MENUITEMS %}
        <li class="menu__item">
          <a href="{{ link }}">{{ title }}</a>
        </li>
      {% endfor %}
      {% if DISPLAY_PAGES_ON_MENU %}
        {% for p in PAGES %}
        <li} class="menu__item {% if p == page %}menu__item--active{% endif %}">
          <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
        </li>
        {% endfor %}
      {% else %}
        {% if DISPLAY_CATEGORIES_ON_MENU %}
        {% for cat, null in categories %}
          <li class="menu__item {% if cat == category %}menu__item--active{% endif %}" >
            <a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
          </li>
        {% endfor %}
        {% endif %}
      {% endif %}
    </ul>
  </nav><!-- /.menu --><br clear="all"><hr style="background-color: white; border:1px dotted #eee;"><br>
  {% block content %}
  {% endblock %}
  <footer class="footer">
    <span class="footer__attribution">
      Proudly powered by <a href="http://getpelican.com/">Pelican</a>,
      which takes great advantage of <a href="http://python.org">Python</a>.<br>
      <a href="http://github.com/omphalosskeptic/bohemian">Bohemian</a> theme by <a href="http://omphalosskeptic.github.io">Omphalosskeptic</a>
    </span>
  </footer>
  <h2 class="siteheader__sitesubtitle">{{ SITESUBTITLE }}</h2>
</body>
</html>
