{% extends "base.html" %}
{% block content %}
<section class="content">
{% block content_title %}
<h2>All articles</h2>
{% endblock %}

  <ol class="content__post-list">
  {% for article in articles_page.object_list %}
    <li>
      <article class="content__post">
        {% if article.coverimg %} 
          <div class="coverimage">
            <img src="{{ article.coverimg }}" alt="{{ article.title }} coverimage">
          </div>
          {% endif %}
        <header> <h3 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h3> </header>
        <footer class="content__post-info">
          <abbr class="published" title="{{ article.date.isoformat() }}"> {{ article.locale_date }} </abbr>
          <address class="vcard author">
          <em>
          By 
          {% if article.authors %}
            {% for author in article.authors %}
              <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
            {% endfor %}
            {% else %}
            {{ article.author }}
          {% endif %}
          </em>
          </address>
        </footer>
        <div class="entry-content"> {{ article.summary }} </div>
      </article>
    </li>
  {% endfor %}
  </ol><!-- /#posts-list -->
{% include 'pagination.html' %}
</section><!-- /.content -->
{% endblock content %}
